.header-bg-color{
    background-color: #fceae8;
}
button{
    background-color: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    color: #FF136F;
    border-radius: 8px;
    padding: 9px 25px;
}
.watch{
    background-color: #ffa500;
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    margin-right: 26px;
    width: 359px;

}
.bag{
    background-color: orchid;
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    margin-right: 26px;
    width: 359px;
}
.shoe{
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 10px 30px;
    width: 359px;
    
    
}


.oi{
    background-color: linear-gradient(to bottom, #FF589B, #FF1367);
    color: white;
}